<section class="block">
    <h2 class="title">Metronami</h2>
    {{#if data.earlyRelease}}
    <p class="subtitle"><i class="fas fa-dove"></i>&ensp;Early Release</p>
    {{else}}
    <p class="subtitle"><i class="fas fa-book"></i>&ensp;Stable Release</p>
    {{/if}}
    <p>メトロ波 - Metronami is a open source Public Transport network manager for roleplay and fantasy worlds</p>
</section>
<hr>
<section class="block">
    <h2 class="title is-4">Repository</h2>
    <p class="subtitle is-6">#opensource</p>
    <p>Metronami is open source software, licensed under <a target="_blank" href="https://github.com/hiyamashu/Metronami/blob/develop/LICENSE">GPLv3.0</a>.
    <br>A full list of contributors can be found <a target="_blank" href="https://github.com/hiyamashu/Metronami/graphs/contributors">here</a>.</p>
</section>