<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache"> --}}

    <title>{{title}} - Metronami Editor</title>

    <!-- Third-party libraries -->
    <script src="/third_party/jquery/jquery.min.js"></script>


    <link rel="stylesheet" href="/third_party/bulma/bulma.min.css">
    <script defer src="/js/navbar.js"></script>

    <link rel="stylesheet" href="/third_party/metropolis/metropolis.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/map.css">

    <script src="https://cdn.skypack.dev/pin/@hotwired/turbo@v7.0.0-rc.3-Ke3RjT96B5Lqzi8XKAG9/mode=imports,min/optimized/@hotwired/turbo.js"></script>

    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
</head>

<body>
    {{>map_editor/navbar}}
    
    <main>
        {{{body}}}
    </main>

    {{>footer}}

    {{>noscript_modal}}
</body>

</html>