<style>
    html {
        height: 100%;
        background-color: #f5f5f5;
    }

    .menu-image {
        height: 8rem;
    }
</style>

<section class="section">
    <div class="container">
        <div class="block has-text-centered">
            <h1 class="title is-1">Metronami</h1>
            <p class="subtitle">Fantasy world public transport manager</p>
        </div>
        <div class="columns">
            <div class="column">
                <a class="box p-0">
                    <div class="p-6">
                        <h2 class="title is-3">Maps</h2>
                        <p class="subtitle">View maps generated from your network</p>
                    </div>
                    <div class="has-text-right">
                        <img class="menu-image" src="/static/maps.png">
                    </div>
                </a>
            </div>
            <div class="column">
                <a class="box p-0">
                    <div class="p-6">
                        <h2 class="title is-3">Manage Network</h2>
                        <p class="subtitle">Create &amp; edit your transport network.</p>
                    </div>
                    <div class="has-text-right">
                        <img class="menu-image" src="/static/manage.png">
                    </div>
                </a>
            </div>
        </div>
        {{!-- <a class="box p-0">
            <div class="p-6">
                <h2 class="title is-3">Application Settings</h2>
                <p class="subtitle">Modify Metronami settings &amp; user preferences.</p>
            </div>
        </a> --}}
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="block has-text-centered">
            Copyright &copy; 2021, <a href="https://github.com/Dylankjy" target="_blank">Dylan Kok</a>
        </div>
    </div>
</section>