<section class="section is-large">
    <div class="container has-text-centered">
        <h1 class="title is-1 has-text-danger-dark"><i class="fas fa-power-off"></i></h1>
        <h1 class="title is-3">Train service has ended</h1>
        <p class="subtitle">Metronami has shut down successfully</p>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <hr>
        <p>You may now close this window</p>
    </div>
</section>