<aside data-turbolinks-permanent class="column is-2">
    <nav data-turbolinks-permanent class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/admin" {{#ifEquals meta.sidebarActive "dashboard"}}class="is-active"{{/ifEquals}}><i class="fas fa-chart-line"></i>&ensp;Dashboard</a></li>
        </ul>
        <p class="menu-label">
            Administration
        </p>
        <ul class="menu-list">
            <li><a href="/admin/manage/users" {{#ifEquals meta.sidebarActive "users"}}class="is-active"{{/ifEquals}}><i class="fas fa-users"></i>&ensp;Users</a></li>
            <li><a href="/admin/manage/staff" {{#ifEquals meta.sidebarActive "staff"}}class="is-active"{{/ifEquals}}><i class="fas fa-id-badge"></i>&ensp;Staff</a></li>
        </ul>
        <p class="menu-label">
            Security
        </p>
        <ul class="menu-list">
            <li><a href="/admin/apikeys" {{#ifEquals meta.sidebarActive "apikeys"}}class="is-active"{{/ifEquals}}><i class="fas fa-key"></i>&ensp;API Keys</a></li>
            <li><a href="/admin/logs" {{#ifEquals meta.sidebarActive "logs"}}class="is-active"{{/ifEquals}}><i class="fas fa-book"></i>&ensp;Logs</a></li>
        </ul>
    </nav>
</aside>