<nav data-turbolinks-permanent class="navbar is-light has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-black" href="/manage/network/{{data.currentNetwork.id}}">
                <b>Metronami</b>
            </a>
        </div>
    </div>
</nav>